<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf processForm - HelloWorld</title>
</head>
<body>

<h2>Thymeleaf - Confirmation Page</h2>


<p>Using URL Parameter directly from Thymeleaf:</p>
<p th:text="'Student Name: ' + ${param.studentName}">Student Name: placeholder</p>
<br>
<p>Using the HttpServletRequest + Spring MVC Model:</p>
<p th:text="'Student Name: ' + ${message}">Student Name: placeholder</p>
<br>

</body>
</html>