<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/999_css_normalize.css"
          th:href="@{/resources/css/999_css_normalize.css}"/>
    <title>Thymeleaf Hello World - Input Form</title>

    <style>
        form.form-example {
            display: table;
        }

        div.form-example {
            display: table-row;
        }

        label,
        input {
            display: table-cell;
            margin-bottom: 10px;
        }

        label {
            padding-right: 10px;
        }

        .button {
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>

</head>
<body>

<div>
    <h2>Thymeleaf Hello World - Input Form V2</h2>
</div>

<div>
    <form accept-charset="UTF-8" action="#" th:action="@{/thymeleaf/hello/processFormV2}" autocomplete="on" class="form-example"
          method="get">

        <div class="form-example">
            <label for="name">Enter your name: </label>
            <input id="name" name="studentName" required type="text">
        </div>

        <div class="form-example">
            <label for="email">Enter your email: </label>
            <input id="email" name="studentEmail" required type="email">
        </div>

        <div class="form-example">
            <label for="message">Your Message:</label>
            <textarea cols="39" id="message" name="message" placeholder="Enter your message here" required
                      rows="8"></textarea>
        </div>

        <input id="prodId" name="prodId" type="hidden" value="xm234jq">

        <div class="form-example" dir="ltr">
            <input class="button" type="submit" value="Subscribe!">
            <input class="button" type="reset" value="Reset">
        </div>

    </form>

</div>

</body>
</html>