<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf processForm - HelloWorld</title>
</head>
<body>

<h2>Thymeleaf - Confirmation Page V3</h2>


<p>Using URL Parameter directly from Thymeleaf:</p>
<p th:text="'Student Name: ' + ${param.studentName}">Student Name: placeholder</p>
<br>
<p>Using @RequestParam("ParameterName") + Spring MVC Model:</p>
<p th:text="'Message: ' + ${messageFromV3}">Message: placeholder</p>
<br>

</body>
</html>