<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../resources/css/444_css_normalize.css"
          th:href="@{/resources/css/444_css_normalize.css}"/>
    <title>Main Menu</title>


    <!--    https://www.w3schools.com/howto/howto_css_two_columns.asp-->
    <style>
        * {
            box-sizing: border-box;
        }

        .row {
            width: 90%;
            margin: 0 auto;
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 50%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }
    </style>


</head>
<body>

<div>
    <h2>Thymeleaf + Spring MVC - Main Menu</h2>
</div>


<div class="row">
    <div class="column" style="background-color:#aaa;">
        <h2>Thymeleaf</h2>
        <ul>
            <li><a href="/thymeleaf" th:href="@{/thymeleaf}">Thymeleaf - Main Menu</a></li>
            <li><a href="/thymeleaf/hello/showCompleteForm" th:href="@{/thymeleaf/hello/showCompleteForm}">Thymeleaf - Show Complete Form</a></li>
            <li><a href="/thymeleaf/hello/showForm" th:href="@{/thymeleaf/hello/showForm}">Thymeleaf - Show Form</a></li>
            <li><a href="/thymeleaf/hello/showFormV2" th:href="@{/thymeleaf/hello/showFormV2}">Thymeleaf - Show Form V2</a></li>
            <li><a href="/thymeleaf/hello/showFormV3" th:href="@{/thymeleaf/hello/showFormV3}">Thymeleaf - Show Form V3</a></li>
        </ul>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>Java Server Pages (JSP)</h2>
        <ul>
            <li><a href="/" th:href="@{/}">JSP - Main Menu</a></li>
            <li><a href="/hello/showCompleteForm" th:href="@{/hello/showCompleteForm}">JSP - Show Complete Form</a></li>
            <li><a href="/hello/showForm" th:href="@{/hello/showForm}">JSP - Show Form</a></li>
            <li><a href="/hello/showFormV2" th:href="@{/hello/showFormV2}">JSP - Show Form V2</a></li>
            <li><a href="/hello/showFormV3" th:href="@{/hello/showFormV3}">JSP - Show Form V3</a></li>
        </ul>
    </div>
</div>


</body>
</html>